<div class="list-group leftnav">
  <%= active_link_to "Your Rooms", rooms_path, class: 'list-group-item' %>
  <%= active_link_to "Your Reservations", your_reservations_path, class: 'list-group-item' %>
  <%= active_link_to "Your Trips", your_trips_path, class: 'list-group-item' %>
</div>
