<div class="row">
  <div class="col-md-3">
    <%= render 'shared/leftnav' %>
  </div>
  <div class="col-md-9">
    <div class="card">
      <div class="card-header">
        <h4>Your Listings</h4>
      </div>
      <div class="card-block">
        <%	@rooms.each do |room| %>
          <div class="row">
            <div class="col-md-2">
              <%= image_tag room.photos[0].image.url() if room.photos.length > 0 %>
            </div>
            <div class="col-md-7">
              <h3><%=	link_to room.listing_name, room %></h3>
            </div>
            <div class="col-md-3">
              <%= link_to "Update", edit_room_path(room), class: 'btn btn-primary pull-xs-right' %>
            </div>
          </div>

          <hr/>
        <% end %>
      </div>
    </div>
  </div>

</div>