<% if @photos %>
    <div class="row">
      <% @photos.each do |photo| %>
        <div class="col-md-4">
          <div class="card">
            <div class="preview">
              <%= image_tag photo.image.url(), class: 'card-img-top' %>
            </div>
            <div class="card-block text-xs-right">
              <%= link_to photo, remote: true, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="fa fa-times fa-lg"></i>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
<% end %>